body {
  margin: 0;
  color: whitesmoke !important;
  background-color: black !important;
}

/* home page  */
.container {
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.intro {
  width: 100%;
  text-align: center;
  margin: 15% auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar {
  z-index: 1;
  font-size: 20px;
}

.name {
  font-size: 30px;
  background: linear-gradient(to left, #00c853, #b2ff59) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
}

.hi {
  font-size: 50px;
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #00c853, #b2ff59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.typing {
  font-size: 30px;
}
.footer {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 1;
}

.webicon {
  height: 150px;
  margin-top: 28px;
}
.icon {
  height: 28px;
  margin-right: 20px;
}
.copyright {
  margin-bottom: 0;
  text-align: center;
  padding-top: 6px;
}

.title {
  text-align: center;
  margin: 50px auto;
  font-size: 50px;
  background: linear-gradient(to top, #00c853, #b2ff59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* about me page */
.profile {
  width: 330px;
  height: 440px;
}

.description {
  margin: 15px;
  font-size: 18px;
  padding: 20px;
}

/* contact page  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-div,
.send {
  width: 480px;
  margin-bottom: 25px;
}

label {
  display: inline-flex;
  padding: 0 5px;
  font-size: 0.9rem;
  transform: translate(25px, 50%);
  font-weight: 600;
  background-color: black;
  color: #00c853;
}

input,
textarea {
  border-radius: 20px;
  border: 3px solid transparent;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #00c853, #b2ff59) border-box;
  box-sizing: border-box;
  outline: none;
  padding: 0.7rem;
  width: 100%;
  background-color: black;
  font-weight: 500;
  color: whitesmoke;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px black inset;
  box-shadow: 0 0 0px 1000px black inset;
  border: 3px solid #00c853;
  -webkit-text-fill-color: whitesmoke;
}

textarea {
  height: 150px;
}

.send,
.send-btn {
  border: none;
  outline: none;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to left, #00c853, #b2ff59);
  font-size: 20px;
  font-weight: 600;
}

.send-btn:hover {
  transform: scale(1.1);
}

.send-icon {
  height: 20px;
}

.error-text {
  color: rgb(249, 55, 55);
  font-size: 18px;
  margin-top: 10px;
}

.error-icon {
  height: 18px;
  margin-right: 3px;
}

.send-text {
  margin-top: 10px;
}

.send-icon {
  height: 20px;
}

/* resume page */
.resume-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download {
  width: 180px;
  height: 42px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(to top, #00c853, #b2ff59);
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.download-icon {
  height: 23px;
}

.download:hover {
  color: black;
  text-decoration: underline;
}

.skill-div {
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 20px;
}

.skill {
  margin-bottom: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  border: 2px solid transparent;
  background: linear-gradient(#000000, black) padding-box,
    linear-gradient(to left, #00c853, #b2ff59) border-box;
}

.tag {
  padding-top: 0.3rem;
  padding-bottom: 0.4rem;
  width: 100%;
  margin-top: 1.2rem;
  font-size: 0.9rem;
}

.tag span {
  display: inline-block;
  color: black;
  font-size: 13px;
  padding: 0.25rem 0.75rem;
  border-radius: 100px;
  margin: 0 6px 6px 0;
  background: linear-gradient(to right, #00c853, #b2ff59);
  font-weight: 600;
  letter-spacing: 0.7px;
}

/* portfolio page  */
.project {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.project-card {
  margin: 30px 50px;
  background-color: black;
  border-radius: 15px;
  border: none;
  background: linear-gradient(to left, #00c853, #b2ff59);
}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-title {
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.project-title:hover {
  text-decoration: underline;
}

.project-tech {
  font-size: 14px;
  color: black;
}

.github-div {
  display: flex;
  justify-content: center;
}

.github {
  height: 50px;
  margin-top: 18px;
}

.card {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.card:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.project-img {
  display: block;
  overflow: hidden;
}

.project-img img {
  transition: all 1s;
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 992px) {
  .card-img-top {
    height: 24vw;
  }
  .project-title {
    font-size: 18px;
  }
  .project-tech {
    font-size: 13px;
  }
  .card-body {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .profile-div {
    display: flex;
    justify-content: center;
  }

  .card-img-top {
    height: 32vw;
  }

  .card-body {
    padding-bottom: 8px;
  }
}
@media screen and (max-width: 575px) {
  .name {
    font-size: 20px;
  }
  .hi {
    font-size: 30px;
  }
  .typing {
    font-size: 25px;
  }
  .webicon {
    height: 100px;
  }
  .icon {
    height: 20px;
    margin-right: 6px;
  }
  .footer {
    font-size: 12px;
  }

  .title {
    font-size: 30px;
    margin: 6px auto;
  }

  .profile {
    width: 300px;
    height: 400px;
  }

  .description {
    font-size: 15px;
  }
  .input-div {
    width: 80%;
    margin: 10px;
  }

  .send {
    margin-top: 20px;
  }

  .send-text {
    font-size: 15px;
    text-align: center;
    margin: 15px;
  }

  .resume-div {
    margin-top: 25px;
  }

  .skill {
    margin-bottom: 30px;
    padding: 10px;
  }

  .card {
    margin-bottom: 5px;
  }

  .card-img-top {
    height: 160px;
  }

  .project-title {
    font-size: 14px;
  }
  .project-tech {
    font-size: 10px;
  }

  .github {
    height: 30px;
  }

  .card-body {
    padding-bottom: 0;
  }
}
