body {
  margin: 0;
  color: whitesmoke !important;
  background-color: black !important;
}

/* home page  */
.container {
  position: relative;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 0;
}

.title {
  width: 100%;
  text-align: center;
  margin: 15% auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.hi {
  font-size: 50px;
  margin-bottom: 30px;
}
.typing {
  font-size: 30px;
}
.footer {
  display: flex;
  justify-content: right;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 1;
}

.webicon {
  width: 150px;
  height: 150px;
  margin-top: 28px;
}
.icon {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
.copyright {
  margin-bottom: 0;
  text-align: center;
  padding-top: 6px;
}
